<div class="animated fadeIn faster">

    <h4>&iquest;Para qué usamos esto?</h4>

    <p>
        Lo usamos para saber quién debe desarrollar una determinada actividad durante un día definido, la necesidad primaria fue la de organizar quién de los compañeros de trabajo tenía que comprar las "facturas de los viernes" <i class="fa fa-smile-o"></i>
    </p>
    <p>
        Te permite ver todas las actividades creadas, y en cada una el listado de participantes, además los miembros de cada actividad podrán seleccionar al que ha realizado la tarea durante el día correspondiente, cuando más del 50% de los miembros de una actividad haya seleccionado a uno de los miembros, se cierra la selección por el día, y ese miembro queda registrado como el que la ha desarrollado.
    </p>

    <p class="text-right"> 
        <small><a target="_blank" href="https://ejturelli.github.io/"><i>Ernesto J. Turelli</i></a></small>
    </p>

</div>
