<h4>&iquest;Para que se usamos esta web?</h4>

<p>
    Se desarrolló para tener seguimiento de quién tiene que hacer alguna actividad en un día determinado, la necesidad primaria fue la de organizar quién de las personas del sector en donde trabajábamos tenía que comprar las 'facturas' los días viernes :-)
</p>
<p>
    La idea es que podamos ver el listado de participantes en cada actividad y que el día en que se desarrolla la misma, los miembros de esa actividad puedan seleccionar al que la ha realizado, cuando por lo menos el 50% de los miembros haya seleccionado a uno de la lista, este miembro queda indicado como el que ha desarrollado la actividad el día de la fecha.
</p>
<p>
    El objetivo secundario fue el de afianzar mis conocimientos usando Angular y Firebase. 
</p>

<p class="text-right"> 
    <a target="_blank" href="https://ejturelli.github.io/"><i>Ernesto J. Turelli</i></a>
</p>