<div *ngIf="loading" 
    class="alert alert-info text-center mt-3 animated fadeIn faster" role="alert">
  <h4 class="alert-heading">Cargando...</h4>
  <p>
      <i class="fa fa-sync-alt fa-spin fa-2x"></i>
  </p>
  <p class="mb-0">
    Espere por favor    
  </p>
</div>

<div *ngIf="!loading" class="animated fadeIn faster">
    <div class="row mb-3">
        <div class="col text-center">
            <button 
                (click)="newList()"
                class="btn btn-primary">
                <i class="fa fa-folder-plus"></i>
                Crear una Nueva Actividad
            </button>
        </div>
    </div>

    <div class="card-columns">
        <div class="card bg-success text-white" *ngFor="let lista of misListas">
            <div class="card-body" (click)="entrar( lista )" style="cursor: pointer;">
                <h5 class="card-title"> {{ lista.name }} </h5>
                <div class="card-text">
                    <small>{{ lista.members.length }} {{ lista.members.length==1?'participante':'participantes' }} tiene esta actividad</small>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="card-columns">
        <div class="card" *ngFor="let lista of otrasListas">
            <div class="card-body">
                <h5 class="card-title"> {{ lista.name }} </h5>
                <div class="card-text">
                    <small>{{ lista.members.length }} {{ lista.members.length==1?'participante':'participantes' }} tiene esta actividad</small>
                    <div>
                        <button (click)="subscribir( lista )"
                            class="btn btn-primary">
                            <i class="fa fa-user-plus"></i>
                            Subscribir
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>    

</div>

