<div class="row">
    <div class="col text-center">
        <button 
            (click)="newList()"
            class="btn btn-primary">
            Crear una Nueva Actividad
        </button>
    </div>
</div>

<div *ngIf="loading" 
    class="alert alert-info text-center mt-3 animated fadeIn faster" role="alert">
  <h4 class="alert-heading">Cargando...</h4>
  <p>
      <i class="fa fa-sync-alt fa-spin fa-2x"></i>
  </p>
  <p class="mb-0">
    Espere por favor    
  </p>
</div>

<div *ngIf="!loading" class="card-columns mt-3">
    <div class="card bg-light" *ngFor="let lista of misListas">
        <div class="card-body">
            <h5 class="card-title"> {{ lista.name }} </h5>
            <div class="card-text">
                <small class="text-muted">{{ lista.members.length }} {{ lista.members.length==1?'miembro':'miembros' }} tiene esta actividad</small>
                <div>
                    <button (click)="entrar( lista )"
                        class="btn btn-success">
                        Entrar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div *ngIf="!loading" class="card-columns mt-3">
    <div class="card" *ngFor="let lista of otrasListas">
        <div class="card-body">
            <h5 class="card-title"> {{ lista.name }} </h5>
            <div class="card-text">
                <small class="text-muted">{{ lista.members.length }} {{ lista.members.length==1?'miembro':'miembros' }} tiene esta actividad</small>
                <div>
                    <button (click)="subscribir( lista )"
                        class="btn btn-primary">
                        Subscribirse
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>    

